body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  margin: 5vh;
  width: 20vh;
  height: 5vh;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0);
  background-color: antiquewhite;
  color: midnightblue;
  font-size: calc(6px + 2vmin);
  transition-duration: 0.1s;
}

button:hover {
  background-color: rgb(255, 244, 228);
  transition-duration: 0.1s;
}

button:active {
  background-color: rgba(250, 235, 215, 0.11);
  color: antiquewhite;
  transition-duration: 0.1s;
}
